@import url("variables.css");

/* //// GLOBAL | site-wide */

/* //// HEADER + NAV  */

/* //// MAIN  */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 150px;
  background-color: #e9e5e5;
  background-image: url(../assets/vigenere-square.svg);
  background-position: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 0.5;
}

.hidden {
  opacity: 0;
}

/* //// FOOTER  */

footer {
  bottom: 0;
  text-align: center;
  margin-top: auto;
}

/* //// MEDIA QUERIES  */
